.blink {
	background-color: #FF0000 ! important;
	border: 4px groove #BF1132 ! important;
}
.links 
{
	bottom: 220px;
	float: left;
	/*padding-left: 880px;*/
	left: 1150px;
	position: fixed;
	width: 50px;
	z-index: 1000;
	border-color: black;
	border-width: 0px;
	border-style: solid;
}
#expand 
{
	/*display: none;*/
}
#collapse 
{
	/*display: none;*/
}
#output
{
	display: none;
}
.gadgets-gadget-title-bar
{
	display:none;
}
#remote_iframe_0
{
	width: 1190px;
	height: 4000px;
}
#remote_iframe_1 /* CAM-Widget*/
{
	position: absolute;
	top:12px;
	left:990px;
	width: 162px;
	height: 10px;
	overflow: auto;
	background-color: #aeaeae;
	display:none:
}

body{
	background-color: transparent;
}
#remote_iframe_2
{
	width: 1190px;
	height: 230px;
	padding: 10px 0 0 10px;
	left: 10px;
	position:fixed; 
	bottom:0px;
	border: 4px groove;
	background-color: #AAAAAA;	
}
#gadget-chrome-1 /* CAM-Widget*/
{
	position: absolute;
	top:0px;
	left:0px;
}
#gadget-chrome-2
{
	position: absolute;
	top:600px;
	left:730px;
}
#parent_gadget-chrome-3
{
	position: fixed;
	top:10px;
	left:980px;
	right: 10px;
}
#parent_gadget-chrome-1, #parent_gadget_small, #parent_gadget-chrome-3
{
	display: none;
}
.iFrame_wkm, #iFrame_wkm
{
	border: none; 
	height:2000px; 
	width:1210px;
}
.gadgets-gadget-chrome
{
	border: none;
}