@import "/dijit/themes/tundra/tundra.css"; /* required when dijit */	
@import "/dojo/resources/dojo.css";
@import "/dojox/layout/resources/ExpandoPane.css";
@import "/lib/container-dnd/gadgets-chrome.css";
@import "/lib/container-dnd/gadgets-dnd.css";
.controlPanel div div {
	margin-left: 1em;
}
.controlPanel h1 {
	margin-left: 0.5em;
}
.controlPanel .gadgets img{
	vertical-align: text-bottom;
	margin-left: 5px;
	margin-right: 5px;
}

#rolespace {
	background: #eeeeee;
}
.dojoxExpandoPane {
	background: white;
}
